@import url("https://fonts.googleapis.com/css2?family=Metal&display=swap");

.main-intro-title {
  font-family: "Metal", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
}

.hantaran-hidden {
  width: 60%;
  opacity: 0;
  bottom: 40%;
  animation: hantaran-hidden 1s ease forwards;
}

@keyframes hantaran-hidden {
  to {
    opacity: 1;
    bottom: 55%;
  }
}

.intro-div {
  bottom: 10%;
  opacity: 0;
  animation: intro-div 1s ease forwards;
  animation-delay: 1s;
}

@keyframes intro-div {
  to {
    opacity: 1;
    bottom: 15%;
  }
}

/* iphone SE */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (min-device-height: 667px) and (max-device-height: 668px) and (orientation: portrait) {
  .hantaran-hidden {
    opacity: 0;
    bottom: 40%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 51%;
    }
  }

  .intro-div {
    bottom: 0;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 3%;
    }
  }
}

/* galaxy s8+ */
@media only screen and (min-device-width: 360px) and (max-device-width: 374px) and (min-device-height: 740px) and (max-device-height: 741px) and (orientation: portrait) {
  .hantaran-hidden {
    opacity: 0;
    bottom: 40%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 50%;
    }
  }

  .intro-div {
    bottom: 0;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 6%;
    }
  }
}

/* surface duo */
@media only screen and (min-device-width: 540px) and (max-device-width: 541px) and (min-device-height: 720px) and (max-device-height: 721px) and (orientation: portrait) {
  .hantaran-hidden {
    width: 50%;
    opacity: 0;
    bottom: 40%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 50%;
    }
  }

  .intro-div {
    bottom: 0;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 10%;
    }
  }
}

/* ipad mini */
@media only screen and (min-device-width: 767px) and (max-device-width: 769px) and (min-device-height: 1022px) and (max-device-height: 1025px) and (orientation: portrait) {
  .hantaran-hidden {
    width: 50%;
    opacity: 0;
    bottom: 40%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 50%;
    }
  }

  .intro-div {
    bottom: 10%;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 15%;
    }
  }
}

/* ipad air */
@media only screen and (min-device-width: 820px) and (max-device-width: 821px) and (min-device-height: 1180px) and (max-device-height: 1181px) and (orientation: portrait) {
  .hantaran-hidden {
    width: 60%;
    opacity: 0;
    bottom: 40%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 50%;
    }
  }

  .intro-div {
    bottom: 0;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 25%;
    }
  }
}

/* zenbook fold */
@media only screen and (min-device-width: 852px) and (max-device-width: 854px) and (min-device-height: 1279px) and (max-device-height: 1281px) and (orientation: portrait) {
  .hantaran-hidden {
    width: 50%;
    opacity: 0;
    bottom: 40%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 45%;
    }
  }

  .intro-div {
    bottom: 20%;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 25%;
    }
  }
}

/* surface pro 7 */
@media only screen and (min-device-width: 912px) and (max-device-width: 913px) and (min-device-height: 1368px) and (max-device-height: 1369px) and (orientation: portrait) {
  .hantaran-hidden {
    width: 50%;
    opacity: 0;
    bottom: 40%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 50%;
    }
  }

  .intro-div {
    bottom: 20%;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 25%;
    }
  }
}

/* ipad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1025px) and (min-device-height: 1366px) and (max-device-height: 1367px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  .main-intro-bg {
    display: none;
  }

  .hantaran-hidden {
    width: 50%;
    opacity: 0;
    bottom: 40%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 50%;
    }
  }

  .intro-div {
    bottom: 20%;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 25%;
    }
  }
}

/* desktop */
@media only screen and (min-device-width: 1023px) and (max-device-width: 1025px) and (min-device-height: 599px) and (max-device-height: 601px) and (orientation: landscape) {
  .hantaran-hidden {
    width: 25%;
    opacity: 0;
    bottom: 25%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 50%;
    }
  }

  .intro-div {
    bottom: 0;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 5%;
    }
  }
}

/* desktop */
@media only screen and (min-device-width: 976px) and (min-device-height: 601px) and (orientation: landscape) {
  .hantaran-hidden {
    width: 25%;
    opacity: 0;
    bottom: 25%;
    animation: hantaran-hidden 1s ease forwards;
  }

  @keyframes hantaran-hidden {
    to {
      opacity: 1;
      bottom: 35%;
    }
  }

  .intro-div {
    bottom: 0;
    opacity: 0;
    animation: intro-div 1s ease forwards;
    animation-delay: 1s;
  }

  @keyframes intro-div {
    to {
      opacity: 1;
      bottom: 5%;
    }
  }
}

/* .chevron-right {
  position: relative;
  animation-name: chevron-right;
  animation-iteration-count: infinite;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
}

@keyframes chevron-right {
  0% {
    left: 0;
  }
  50% {
    left: 0.2rem;
  }
  100% {
    left: 0;
  }
} */
